// Variants
@mixin datepicker-day-variant($state, $background, $color) {
  .datepicker table tr td.#{$state} {
    background-color: $background;
    color: $color;

    &:hover {
      background-color: darken($background, 10%);
      color: $color;
    }

    &.disabled,
    &.disabled:hover {
      background-color: $background;
      color: $datepicker-disabled-color;
    }
  }
}
