// Base styles
.nav-tabs {
  background-color: $tab-bg;
  border-bottom: none;
  border-radius: $tab-border-radius $tab-border-radius 0 0;

  > li {
    margin-bottom: 0;
  }

  > li > a {
    border: none;
    border-radius: 0;
    color: $tab-color;
    margin-right: 0;
  }

  > li:first-child > a {
    border-radius: $tab-border-radius 0 0 0;
  }

  > li > a:focus,
    > li > a:hover {
    background-color: $tab-bg-hover;
    border: none;
  }

  > li.active > a,
  > li.active > a:focus,
    > li.active > a:hover {
    background-color: $tab-color-acitve;
    border: none;
  }

  .dropdown-toggle,
  .dropdown-toggle:hover,
    .dropdown-toggle:focus {
    color: $tab-color;
  }

  .dropdown.open .dropdown-toggle {
    background-color: $tab-bg-hover;
    color: $tab-color;
  }

  .dropdown.active.open .dropdown-toggle {
    color: $tab-color;
  }

  .dropdown.active.open .dropdown-toggle .caret,
  .dropdown.active .dropdown-toggle .caret {
    border-bottom-color: $tab-color;
    border-top-color: $tab-color;
  }

  .dropdown.open .caret,
  .dropdown.open.active .caret,
  .dropdown.open a:hover .caret,
    .dropdown.open a:focus ,
    .dropdown-toggle ,
    .dropdown-toggle:hover ,
    .dropdown-toggle:focus .caret {
    border-bottom-color: $tab-color;
    border-top-color: $tab-color;
  }

  &.nav-justified > li > a {
    margin-bottom: 0;
    text-align: center;
  }

  &.nav-justified > .dropdown .dropdown-menu {
    left: auto;
    top: auto;
  }

  &.nav-justified > li > a {
    border-radius: 0;
  }

  &.nav-justified > li:first-child > a {
    border-radius: $tab-border-radius 0 0 0;
  }

  &.nav-justified > li:last-child > a {
    border-radius: 0 $tab-border-radius 0 0;
  }

  &.nav-justified > .active > a,
  &.nav-justified > .active > a:hover,
    &.nav-justified > .active > a:focus {
    border: none;
  }

  @media (min-width: $grid-float-breakpoint) {
    > li {
      border-left: 1px solid $tab-border-color;
    }

    > li:first-child {
      border-left: none;
    }

    &.nav-justified > li > a {
      border-bottom: none;
      border-radius: 0;
    }

    &.nav-justified > .active > a,
    &.nav-justified > .active > a:hover,
      &.nav-justified > .active > a:focus {
      border-bottom: none;
    }
  }
}

.tabs-below {
  .nav-tabs {
    border-radius: 0 0 $tab-border-radius $tab-border-radius;
  }

  .nav-tabs > li:first-child > a {
    border-radius: 0 0 0 $tab-border-radius;
  }

  .nav-tabs.nav-justified > li:last-child > a {
    border-radius: 0 0 $tab-border-radius 0;
  }
}

.tabs-left .nav-tabs > li,
.tabs-right .nav-tabs > li {
  border-left: none;
  border-top: 1px solid $tab-border-color;
  float: none;
}

.tabs-left .nav-tabs > li:first-child,
.tabs-right .nav-tabs > li:first-child {
  border-top: none;
}

.tabs-left .nav-tabs > li > a,
.tabs-right .nav-tabs > li > a {
  margin-right: 0;
  min-width: $tab-aside-width;
}

.tabs-left {
  overflow: hidden;

  .nav-tabs {
    border-radius: $tab-border-radius 0 0 $tab-border-radius;
    float: left;
  }
  .nav-tabs > li:first-child > a {
    border-radius: $tab-border-radius 0 0 0;

  }
  .nav-tabs > li:last-child > a {
    border-radius: 0 0 0 $tab-border-radius;
  }
}

.tabs-right {
  overflow: hidden;

  .nav-tabs {
    border-radius: 0 $tab-border-radius $tab-border-radius 0;
    float: right;
  }

  .nav-tabs > li:first-child > a {
    border-radius: 0 $tab-border-radius 0 0;
  }

  .nav-tabs > li:last-child > a {
    border-radius: 0 0 $tab-border-radius 0;
  }
}

.tab-content {
  overflow: hidden;
  padding: $tab-content-padding;
}
