/*! Custom styles for this template */
@import "bootstrap/variables";
@import "custom/variables";
@import "variables";

body {
  background-color: $panel-bg;
  border-color: $panel-bg;
  color: $text-color;
}

.mail {
  background-color: $panel-bg;
  border-color: $panel-bg;
  color: $text-color;
  height: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.mail-sidebar {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  display: none;
}

.mail-sidebar.active {
  display: block;
}

.mail-sidebar-header {
  padding: 15px;
}

.mail-list {
  list-style: none;
  margin-bottom: 0;
  padding-left: 0;
}

.mail-list-item {
  border-top: 1px solid $list-group-border;
  display: block;
  position: relative;
}

.mail-list-item:first-child {
  border-top: none;
}

.mail-list-link {
  color: $list-group-link-color;
  display: block;
  padding: 10px;
  position: relative;
}

.mail-list-link:hover,
.mail-list-link:focus {
  background-color: $list-group-hover-bg;
  color: $list-group-link-hover-color;
  text-decoration: none;
}

.active > .mail-list-link,
.active > .mail-list-link:hover,
.active > .mail-list-link:focus {
  background-color: $list-group-active-bg;
  color: $list-group-active-color;
}

.mail-list-meta {
  float: right;
  height: $line-height-computed;
  line-height: $line-height-computed;
  margin-bottom: 0;
  white-space: nowrap;
}

.mail-list-attachments {
  float: left;
  font-size: $font-size-base;
  height: $line-height-computed;
  line-height: $line-height-computed;
  text-align: center;
  width: $line-height-computed;
}

.mail-list-date {
  font-size: 11px;
  margin-left: 25px;
}

.mail-list-name {
  font-size: 15px;
  font-weight: 500;
  height: $line-height-computed;
  line-height: $line-height-computed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mail-list-subject {
  display: block;
  font-size: $font-size-base;
  font-weight: 500;
  line-height: $line-height-computed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mail-list-message {
  display: block;
  font-size: $font-size-small;
  line-height: $line-height-computed;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.mail-content {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  display: none;
}

.mail-content.active {
  display: block;
}

.mail-toolbar {
  background-color: $panel-bg;
  border-bottom: 1px solid $list-group-border;
}

.mail-toolbar:before,
.mail-toolbar:after {
  content: " ";
  display: table;
}

.mail-toolbar:after {
  clear: both;
}

.mail-toolbar-tools {
  float: right;
}

.mail-content-body {
  padding: 15px;
}

.mail-heading {
  font-weight: 300;
  margin-top: 0;
}

.mail-sender {
  margin-bottom: 15px;
  margin-top: 15px;
  padding-bottom: 15px;
  padding-top: 15px;
}

.mail-sender:before,
.mail-sender:after {
  content: " ";
  display: table;
}

.mail-sender:after {
  clear: both;
}

.mail-sender-avatar {
  float: left;
  margin-right: 10px;
}

.mail-sender-details {
  min-height: 40px;
  overflow: hidden;
}

.mail-sender-name {
  line-height: $line-height-computed;
  margin-bottom: 0;
  margin-top: 0;
}

.mail-settings {
  animation-duration: 1s;
  animation-fill-mode: both;
  animation-name: fadeInRight;
  display: none;
}

.mail-settings-body {
  display: table;
  height: 100%;
  table-layout: fixed;
  width: 100%;
}

.mail-settings-inner {
  display: table-cell;
  height: 100%;
  padding-bottom: 45px;
  padding-top: 45px;
  vertical-align: middle;
  width: 100%;
}

// Overrides
.title-bar {
  margin-bottom: 10px;
}

.dropdown-menu {
  margin: 0;
}

.sidenav > li.active > a:after {
  border-right-color: $panel-bg;
}

.form-group {
  margin-bottom: 0;
}

.file {
  width: 100px;
}

.media-heading {
  font-weight: 300;
}

// Medium devices (desktops, 992px and up)
@media (min-width: $screen-md-min) {
  .mail-sidebar {
    border-right: 1px solid $list-group-border;
    bottom: 0;
    display: block;
    position: absolute;
    top: 0;
    width: 280px;
  }

  .mail-sidebar-body {
    bottom: 0;
    left: 0;
    overflow: hidden;
    position: absolute;
    right: 0;
    top: 60px;
  }

  .mail-list-link {
    padding-left: 15px;
    padding-right: 15px;
  }

  .mail-list-name {
    font-size: $font-size-base;
  }

  .mail-list-subject {
    font-size: $font-size-small;
  }

  .mail-content {
    bottom: 0;
    left: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mail-content-body {
    padding: 30px;
  }

  .mail-settings {
    bottom: 0;
    display: block;
    left: 280px;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    top: 0;
  }

  .mail-content.active ~ .mail-settings {
    display: none;
  }

  // Overrides
  .layout-content {
    height: 100%;
    left: 0;
    max-height: 100%;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    right: 0;
    z-index: $zindex-layout-content;
  }

  .title-bar {
    display: none;
  }
}
